{% extends "base.html" %} {% block title %}Change Password{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Change Password</h3>
      <h5 align="left" style="font-weight: normal; margin-bottom: 20px;">Change password for: {{ user.email }}</h5>
      <div class="form-group">
        <label for="old">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="old_password"
          name="old_password"
          placeholder="Enter old password"
        />
      </div>
      <div class="form-group">
        <label for="password1">New Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter new password"
        />
      </div>
      <div class="form-group">
        <label for="password2">New Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm new password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Change</button>
    </form>
    {% endblock %}