{% extends "base.html" %}

{% block title %}Custom Player{% endblock %}

{% block content %}
<div class="container">
  <h2>Create Custom Player</h2>
  <form id="playerForm">
    <div class="form-group">
        <label for="player">Player Name:</label>
        <input type="text" class="form-control" id="player" name="player" required>
    </div>
    <div class="form-group">
        <label for="season">Season (Optional):</label>
        <input type="text" class="form-control" id="season" name="season">
    </div>
    <div class="form-group">
        <label for="pos">Position (Optional):</label>
        <input type="text" class="form-control" id="pos" name="pos">
    </div>
    <div class="form-group">
        <label for="age">Age (Optional):</label>
        <input type="number" class="form-control" id="age" name="age">
    </div>
    <div class="form-group">
        <label for="team">Team (Optional):</label>
        <input type="text" class="form-control" id="team" name="team">
    </div>
    <div class="form-group">
        <label for="g">Games:</label>
        <input type="number" class="form-control" id="g" name="g" required>
    </div>
    <div class="form-group">
        <label for="pa">Plate Appearances:</label>
        <input type="number" class="form-control" id="pa" name="pa" required>
    </div>
    <div class="form-group">
        <label for="ab">At Bats:</label>
        <input type="number" class="form-control" id="ab" name="ab" required>
    </div>
    <div class="form-group">
        <label for="r">Runs:</label>
        <input type="number" class="form-control" id="r" name="r" required>
    </div>
    <div class="form-group">
        <label for="h">Hits:</label>
        <input type="number" class="form-control" id="h" name="h" required>
    </div>
    <div class="form-group">
        <label for="twoB">Doubles:</label>
        <input type="number" class="form-control" id="twoB" name="twoB" required>
    </div>
    <div class="form-group">
        <label for="threeB">Triples:</label>
        <input type="number" class="form-control" id="threeB" name="threeB" required>
    </div>
    <div class="form-group">
        <label for="hr">Home Runs:</label>
        <input type="number" class="form-control" id="hr" name="hr" required>
    </div>
    <div class="form-group">
        <label for="rbi">Runs Batted In:</label>
        <input type="number" class="form-control" id="rbi" name="rbi" required>
    </div>
    <div class="form-group">
        <label for="sb">Stolen Bases:</label>
        <input type="number" class="form-control" id="sb" name="sb" required>
    </div>
    <div class="form-group">
        <label for="cs">Caught Stealing:</label>
        <input type="number" class="form-control" id="cs" name="cs" required>
    </div>
    <div class="form-group">
        <label for="bb">Walks:</label>
        <input type="number" class="form-control" id="bb" name="bb" required>
    </div>
    <div class="form-group">
        <label for="so">Strikeouts:</label>
        <input type="number" class="form-control" id="so" name="so" required>
    </div>
    <div class="form-group">
        <label for="ba">Batting Average:</label>
        <input type="number" class="form-control" id="ba" name="ba" required>
    </div>
    <div class="form-group">
        <label for="obp">On Base Percentage:</label>
        <input type="number" class="form-control" id="obp" name="obp" required>
    </div>
    <div class="form-group">
        <label for="slg">Slugging:</label>
        <input type="number" class="form-control" id="slg" name="slg" required>
    </div>
    <div class="form-group">
        <label for="ops">OPS:</label>
        <input type="number" class="form-control" id="ops" name="ops" required>
    </div>
    <div class="form-group">
        <label for="opsPlus">OPS+:</label>
        <input type="number" class="form-control" id="opsPlus" name="opsPlus" required>
    </div>
    <div class="form-group">
        <label for="tb">Total Bases:</label>
        <input type="number" class="form-control" id="tb" name="tb" required>
    </div>
    <div class="form-group">
        <label for="gdp">Ground Out Double Plays:</label>
        <input type="number" class="form-control" id="gdp" name="gdp" required>
    </div>
    <div class="form-group">
        <label for="hbp">Hit By Pitch:</label>
        <input type="number" class="form-control" id="hbp" name="hbp" required>
    </div>
    <div class="form-group">
        <label for="sh">Sacrafice Bunts:</label>
        <input type="number" class="form-control" id="sh" name="sh" required>
    </div>
    <div class="form-group">
        <label for="sf">Sacrafice Flys:</label>
        <input type="number" class="form-control" id="sf" name="sf" required>
    </div>
    <div class="form-group">
        <label for="ibb">Intentional Walks:</label>
        <input type="number" class="form-control" id="ibb" name="ibb" required>
    </div>
    <div class="form-group">
        <label for="spf">Speed Factor:</label>
        <input type="number" class="form-control" id="spf" name="spf" required>
    </div>
</form>
<div id="result"></div>
<div class="text-center my-4">
  <button type="button" id="calculate-btn" class="btn btn-primary" disabled>Add Player</button>
</div>
</div>

{% block javascript %}
<script type="text/javascript">
    console.log("Script loaded");

    document.addEventListener('DOMContentLoaded', function() {
        let form = document.getElementById('playerForm');
        let calculateBtn = document.getElementById('calculate-btn');

        // Function to check all input fields
        function checkForm() {
            let allFilled = true;
            const inputs = form.querySelectorAll('input[required]');
            inputs.forEach(input => {
                if (!input.value.trim()) {  // Ensure whitespace isn't considered as filled
                    allFilled = false;
                }
            });
            calculateBtn.disabled = !allFilled;
        }

        // Attach checkForm to input events on the form
        form.addEventListener('input', checkForm);

        calculateBtn.addEventListener('click', function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            const playerData = {};
            formData.forEach((value, key) => {
                playerData[key] = value;
            });
            console.log(playerData)
            // Fetch API to send data
            fetch('/add_custom', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ stat: playerData })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Player added successfully") {
                    window.location.reload();
                } else {
                    //document.getElementById('result').textContent = data.message || JSON.stringify(data);
                    const originalInputs = playerData
                    window.location.reload();
                    //for (let [key, value] of originalInputs){
                        //let oldInput = document.getElementById(key);
                        //oldInput.value = key;
                    //}
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
{% endblock %}
{% endblock %}