{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Forgot Password</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <br />
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}