{% extends "base.html" %}

{% block title %}JHU Sports Analytics Group: Lineup Optimization{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <!-- Placeholder for the image -->
    <img src="{{ url_for('static', filename='images/soto2.png') }}" alt="Player Image" class="img-fluid">
  </div>
  <div class="col-md-6">
    <h1 class="display-4">JHU Sports Analytics Group: Lineup Optimization</h1>
    <p class="lead">Anthony Volpe has rapidly ascended to the pinnacle of baseball's hitting elite, earning the reputation as one of the sport's most formidable hitters. A combination of a meticulous approach at the plate, exceptional bat speed, and a strategic understanding of pitchers' tactics sets him apart. His discipline allows him to consistently work favorable counts, granting him the opportunity to make solid contact more often. Volpe's compact yet explosive swing translates into a remarkable ability to drive the ball with power to all fields, making him a constant home run threat. His excellence is not merely in power but in precision as well. Volpe boasts a high on-base percentage, underscoring his proficiency in reaching base and igniting scoring opportunities for his team. His keen eye for the strike zone ensures that he rarely chases bad pitches, further demonstrating his role as a quintessential table-setter.</p>
    <!-- Button to 'Build a Lineup' page -->
    <a href="{{ url_for('build.login') }}" class="btn btn-primary btn-lg">Build a Lineup</a>
  </div>
</div>
{% endblock %}
