{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Login</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      
      <button type="submit" class="btn btn-primary">Login</button>

      <button type="button" onclick="location.href='/forgot-password'" class="text-button">Forgot Password</button>
      <style> 
        .text-button {
          margin-left: 20px;
          background: none;
          color: blue;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
      }    
      </style>
    </form>
    {% endblock %}